button {
	border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

button {
	padding: 5px;
}

.btn-control-primary {
	background-color: #f05545;
	color: white;
	border-radius: 20px;
	width: fit-content;
	padding: 10px 20px;
}

.btn-control-primary:hover {
	background-color: white;
	border: 2px solid #f05545;
	padding: 8px 18px;
	color: #f05545;
}